.container-fluid {
    background-color: #a8bf7e;
}

.calculator {
    background-color: #a0d0ea;
}

button {
    width: 60px;
    height: 50px;
    box-shadow: 5px 5px 5px grey;
}

#textarea {
    width: 264px;
    height: 54px;
    box-shadow: 5px 5px 5px grey;
    outline: none;
}

#plus,
#subtract,
#divide,
#multiply {
    background-color: #efff93;
}

#c {
    background-color: #fd9fa9;
}